<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="blog.css">
</head>
<body>
    <!-- <div class="navbar">
        <ul>
            <li><img src="logo.jpg" id="logo" alt=""></li>
            <li class="name">Leaf Legacy</li>
            <li><a href="#">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div> -->
    <div class="container">
        <div class="card">
          <div class="card-header">
            <a href="https://www.farmerp.com/machine-learning-in-agriculture-identifying-patterns-to-improve-crop-performances">
                <img src="https://media.istockphoto.com/id/1346294867/photo/smart-farming-concept.jpg?s=612x612&w=0&k=20&c=wwiWQWIaTAojgCV8lOplPh4cA8g2spKbESFD-nV7TVA=" />    
            </a>
        </div>
        <div class="card-body">
            <span href="#" class="tag tag-pink" >Agriculture</span>
              <h4>
                  Machine Learning in Agriculture: Identifying Patterns to Improve Crop Performances
                </h4>
                <p>
                    A data-intensive approach is absolutely necessary for agribusinesses to stay relevant in today’s ...
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="https://www.farmerp.com/digital-technologies-in-precision-farming-imperative-for-a-bright-food-future">
                    <img src="https://media.istockphoto.com/id/1035635816/photo/farmer-holding-a-tablet-smart-arm-robot-harvest-work-agricultural-machinery-technology.jpg?s=612x612&w=0&k=20&c=SmnxObky5atbg3M0tT8tZQG5cHb_Ge1fz9fkWXtsuxc=" />
                </a>
            </div>
            <div class="card-body">
                <span href="#" class="tag tag-purple" >Popular</span>
                <h4>
                    Digital Technologies in Precision Farming: Imperative for a Bright Food Future
                </h4>
                <p>
                    The food production practices have been significantly changing over the years. Especially with ...
                </p>
            </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a href="https://www.psu.edu/news/engineering/story/researchers-use-water-treatment-method-capture-acids-agricultural-waste/">
                <img src="https://media.istockphoto.com/id/502817395/photo/irrigation-through-tube-well-of-rice-paddy.jpg?s=612x612&w=0&k=20&c=RuhkEEMLgjtidoKvfZ85Rw0pLEKZU_uIS5uzUUK8Kg4=" />
            </a>
          </div>
          <div class="card-body">
            <span class="tag tag-teal">Technology</span>
            <h4>
                Researchers use water treatment method to capture acids from agricultural waste
            </h4>
            <p>
                Bound for the landfill, agricultural waste contains carbon sources that can be used to produce high-value compounds...
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a href="https://www.farmerp.com/machine-learning-in-agriculture-identifying-patterns-to-improve-crop-performances">
                <img src="https://media.istockphoto.com/id/1346294867/photo/smart-farming-concept.jpg?s=612x612&w=0&k=20&c=wwiWQWIaTAojgCV8lOplPh4cA8g2spKbESFD-nV7TVA=" />    
            </a>
        </div>
        <div class="card-body">
            <span href="#" class="tag tag-pink" >Agriculture</span>
              <h4>
                  Machine Learning in Agriculture: Identifying Patterns to Improve Crop Performances
                </h4>
                <p>
                    A data-intensive approach is absolutely necessary for agribusinesses to stay relevant in today’s ...
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
              <a href="https://www.psu.edu/news/engineering/story/researchers-use-water-treatment-method-capture-acids-agricultural-waste/">
                  <img src="https://media.istockphoto.com/id/502817395/photo/irrigation-through-tube-well-of-rice-paddy.jpg?s=612x612&w=0&k=20&c=RuhkEEMLgjtidoKvfZ85Rw0pLEKZU_uIS5uzUUK8Kg4=" />
              </a>
            </div>
            <div class="card-body">
              <span class="tag tag-teal">Technology</span>
              <h4>
                  Researchers use water treatment method to capture acids from agricultural waste
              </h4>
              <p>
                  Bound for the landfill, agricultural waste contains carbon sources that can be used to produce high-value compounds...
              </p>
            </div>
          </div>
  
        <div class="card">
            <div class="card-header">
                <a href="https://www.farmerp.com/digital-technologies-in-precision-farming-imperative-for-a-bright-food-future">
                    <img src="https://media.istockphoto.com/id/1035635816/photo/farmer-holding-a-tablet-smart-arm-robot-harvest-work-agricultural-machinery-technology.jpg?s=612x612&w=0&k=20&c=SmnxObky5atbg3M0tT8tZQG5cHb_Ge1fz9fkWXtsuxc=" />
                </a>
            </div>
            <div class="card-body">
                <span href="#" class="tag tag-purple" >Popular</span>
                <h4>
                    Digital Technologies in Precision Farming: Imperative for a Bright Food Future
                </h4>
                <p>
                    The food production practices have been significantly changing over the years. Especially with ...
                </p>
            </div>
        </div>
    </div>
    
</body>
</html>
