<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="scheme-container">
        <div class="scheme">
            <div class="scheme-preview">
                <h5>scheme</h5>
                <h2>Soil Health Card Scheme</h2>
                <a href="https://soilhealth.dac.gov.in/home ">To know more..<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="scheme-info">
                <h4>Under the scheme, the government plans to issue soil cards to farmers which will carry crop-wise recommendations of nutrients and fertilisers required for the individual farms to help farmers to improve productivity through judicious use of inputs.</h4>
            </div>
        </div>
    </div>
    <div class="scheme-container">
    <div class="scheme-container">
        <div class="scheme">
            <div class="scheme-preview">
                <h5>scheme</h5>
                <h2> Neem Coated Urea (NCU)</h2>
                <a href="https://nationalfertilizers.com/index.php?option=com_content&view=article&id=139&Itemid=158&lang=en">To know more..<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="scheme-info">
                <h4>Scheme being promoted to regulate use of urea, enhance availability of nitrogen to the crop and reduce cost of fertilizer application.  NCU slows down the release of fertilizer and makes it available to the crop in an effective manner.</h4>
            </div>
        </div>
    </div>
    <div class="scheme-container">
    <div class="scheme-container">
        <div class="scheme">
            <div class="scheme-preview">
                <h5>scheme</h5>
                <h2>Paramparagat Krishi Vikas Yojana  (PKVY) Scheme</h2>
                <a href="https://dmsouthwest.delhi.gov.in/scheme/paramparagat-krishi-vikas-yojana/#:~:text=The%20Paramparagat%20Krishi%20Vikas%20Yojana,in%20improvement%20of%20soil%20health">To know more..<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="scheme-info">
                <h4> Paramparagat Krishi Vikas Yojana (PKVY) is being implemented with a view to promote organic farming in the country.  This will improve soil health and organic matter content and increase net income of the farmer so as to realise premium prices.</h4>
            </div>
        </div>
    </div>
    <div class="scheme-container">
    <div class="scheme-container">
        <div class="scheme">
            <div class="scheme-preview">
                <h5>scheme</h5>
                <h2>Pradhan Mantri Krishi Sinchayee Yojana (PMKSY)Scheme</h2>
                <a href="https://pmksy.gov.in/">To know more..<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="scheme-info">
                <h4>he Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) is being implemented to expand cultivated area with assured irrigation, reduce wastage of water and improve water use efficiency.</h4>
            </div>
        </div>
    </div>
    <div class="scheme-container">
    <div class="scheme-container">
        <div class="scheme">
            <div class="scheme-preview">
                <h5>scheme</h5>
                <h2>Interest Subvention Scheme (ISS)</h2>
                <a href="https://www.nabard.org/content1.aspx?id=602&catid=23&mid=23">To know more..<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="scheme-info">
                <h4>he Government provides interest subvention of 3% on short-term crop loans up to Rs.3.00 lakh.  Presently, loan is available to farmers at an interest rate of 7% per annum, which gets reduced to 4% on prompt repayment.</h4>
            </div>
        </div>
    </div>
    <div class="scheme-container">
    <div class="scheme-container">
        <div class="scheme">
            <div class="scheme-preview">
                <h5>scheme</h5>
                <h2> National Agriculture Market (e-NAM) Scheme</h2>
                <a href="https://logistics.enam.gov.in/web/">To know more..<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="scheme-info">
                <h4> This innovative market process is revolutionizing agri markets by ensuring better price discovery, bringing in transparency and competition to enable farmers to get improved remuneration for their produce moving towards ‘One Nation One Market’. </h4>
            </div>
        </div>
    </div>
    <div class="scheme-container">
    <div class="scheme-container">
        <div class="scheme">
            <div class="scheme-preview">
                <h5>scheme</h5>
                <h2> Pradhan Mantri Fasal Bima Yojana (PMFBY) Scheme</h2>
                <a href="https://pmfby.gov.in/">To know more..<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="scheme-info">
                <h4> Pradhan Mantri Fasal Bima Yojana (PMFBY) & Restructured Weather Based Crop Insurance Scheme (RWBCIS) were launched from Kharif 2016 to provide comprehensive crop insurance coverage from pre-sowing to post harvest losses against non-preventable natural risks.</h4>
            </div>
        </div>
    </div>
    <div class="scheme-container">
        
    <!-- Script -->
    <script src="app.js"></script>
</body>
</html>